html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}
ul,ol{
  padding: 0;
}
.container{
  max-width: 1276px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}


body{
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto', 'Arial', sans-serif;
  margin: 0;
}

/* header section */

.header-top{
  display: flex;
  margin-top: 40px;
}
header ul{
  display: flex;
  list-style: none;
  align-items: center;
}

/* navbar */
.header-top nav{
  margin-left: auto;


}
.header-top li{
  margin-right:70px ;
}
.nav-item{
  text-decoration: none;
  color: #373737;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
  align-items:center ;
}


.apply{
  text-decoration: none;
  border: 1px solid #717CFF;
  padding:  11px  30px;
  align-items: center;
  transition: all 0.3s ease;
  border-radius: 11px;

}

.nav-item-last{
  margin-right: 0px;
}
.apply:hover{
  background-color: #717cff;
  color: #fff;
}

/* main */



/* hero section */
main {
  background-color: #fff;
}

.hero-inner{
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.hero ul{
  display: flex;
  list-style: none;
  align-items: center;
}
.hero-left{
  width: 630px;


}
.hero-left h1{
  font-weight: 900;
  font-size: 56px;
  line-height: 65px;
  margin-top: 140px;
}
.hero-left span{
  color:#717CFF;

}

.hero-left p{
  font-size: 22px;
  line-height: 38px;
  color: #7d7d7d;
  margin-bottom: 40px;
  margin-top: 15px;
}



.hero-right{
  align-items: end;
  margin-top: 115px;
}


.social-networks {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
  justify-content: start;

}

.social-networks ul{
  padding: 0;
}
.apply-now {
  border: 1px solid #717CFF;
  background: rgb(112, 124, 255);
  text-decoration: none;
  color: white;
  font-size: 22px;
  line-height: 40px;
  padding: 12px 60px;
  border-radius: 11px;
  transition: all 0.3s ease;
  display: inline-block;
  margin-top: 40px;

}
.apply-now img{
  margin-left: 35px;

}
.apply-now:hover{
  border: 1px solid #717CFF;
  background: #fff;
  color: #717cff;
}

.icon-twitter {
  margin-left: 20px;
  margin-right: 20px;
}


.featured-universities{
  text-align: center;
  background-color: #FAFAFA;
  padding: 55px 0;
}

.featured-universities h2{
  margin-top: 0;
  margin-bottom: 94px;
  line-height: 54px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.featured-universities-list ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 110px;
}
.featured-universities-list li:last-child{
  margin-right: 0px;
}
.featured-universities-list li{
  margin-right: 74px;
}

.button-points{
  list-style: none;
  display: flex;
  justify-content: center;
}
.button-points li{
  padding-right: 20px;
}
.button-points  li button {
  list-style: none;
  width: 10px;
  height: 10px;
  padding: 0;
  border: 0;
  border-radius: 50%;

}
.btn-active{
  background: #717CFF;
}

/* --------- our services------------- */

.our-secrvices{
  background-color: #F2F2F2;

}

.our-services-inner{
  margin: 125px 0 ;
}

.our-secrvices-desc{
  text-align: center;
  width: 949px;
  margin: auto;
}

.our-secrvices-desc h2{
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 37px;
  line-height: 54px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
.our-secrvices-desc p{
  margin-bottom: 110px;
  font-size: 22px;
  font-weight: 500;
  line-height: 38px;
  color: #7D7D7D;
}
.our-secrvices{
  background-color: #f2f2f2;
}

.card-box{
  display: flex;
  flex-wrap: wrap;
  width: 1126px;
  margin: auto;
  justify-content:center;
}

.card-boxes{
  margin-right: 47px;
  width: 344px;
  height: 351px;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  padding: 20px 15px 20px 30px;
  border-radius: 10px;
  margin-bottom: 47px;

}

.card-boxes:nth-child(3n) {
  margin-right: 0;
}
.card-boxes h3{
  font-size: 24px;
  font-weight: 700;
  line-height: 37px;
  text-align: left;

}
.card-boxes p{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.card-boxes a{
  text-decoration: none;
  color : #717CFF;
}

.learn-more{
  align-items: center;
  padding: 5px;

}

/* ----------- news section----------------- */

.news{
  background-color: #fafafa;
  padding-top: 100px;
  padding-bottom: 124px;
}

.news-header{
  text-align: center;
  width: 950px;
  margin: auto;
}

.news-header h2{
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 25px;

}

.news-header p{
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #7d7d7d;
  margin-bottom: 120px;
}

.news-cards{
  display: flex;
  justify-content:center;


}

.news-card-box{
  width: 344px;
  border-radius: 10px;
  box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
  margin-right: 45px;
  margin-bottom: 145px;
}
.news-card-box:last-child{
  margin-right: 0px;
}
.news-card-box-desc{
  width: 291px;
  padding: 15px 25px 60px;
  text-align:left;
}
.news-card-box-desc time{
  color:#565656;
  font-size: 16px;
  line-height: 19px;
}

.news-card-box-desc p{
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

.btn-wrap{
  justify-content: center;
  display: flex;
}
.btn-join-here{
  text-decoration: none;
  padding: 15px 32px;
  background-color: #717CFF;
  border: 1px solid #717CFF;
  font-size: 22px;
  border-radius: 10px;
  color: #fff;
  transition: all 0.3s ease;
  display: inline-block;
}
.btn-join-here{
  align-items: center;
}
.btn-join-here img{
  margin-left: 20px;
  width: 15px;
  height: 15px;
}
.btn-join-here:hover{
  align-self: center;
  background-color: #fff;
  border: 1px solid #717CFF;
  color: #717cff;
}

.date{
  width: 76px;
  height: 76px;
  border: 1px solid #717CFF;
  border-radius: 10px;
  background: rgba(113, 124, 255, 0.1);
  color: #717CFF;
  justify-content: center;
  align-items: center;

}

.date p{
  padding: 10px;
}

/* upcoming section */

.upcoming-section{
  padding: 100px 0 105px;

}
.upcoming-desc{
  width: 960px;
  margin: 0 auto;
}
.upcoming-desc h2{
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 54px;
}
.upcoming-desc p{
  margin-bottom: 100px;
  color: #7d7d7d;
  font-size: 22px;
  line-height: 38px;
}
.upcoming-section  {
  justify-content: center;
  text-align: center;
}
.university-comment{
  padding: 30px;
}
.university-comments-top{
  color: #717CFF;
}

.university-comments{
  display: flex;
  justify-content: center;


}

.university-comment{
  width: 540px;
  height: 308px;
  box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
  border-radius: 10px;
  justify-content: center;
  margin: auto;

  align-items: center;
}
.date-university-name {
  display: flex;
}

.date{
  width: 75px;
  height: 75px;
  background-color: rgba(113, 124, 255, 0.2);
  font-size: 24px;
  line-height: 30px;
  padding: 10px;
}
.month{
  font-size: 18px;
}
.university-dest{
  width: 350px;
}

.university-comments{
  margin-bottom: 80px;
}
.university-top{
  display: flex;

}
.university-top h3 {
  font-size: 24;
  font-weight: 700;
  line-height: 37px;
}

.university-name{
  width: 280px;
  line-height: 38px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 30px;
}

.university-middle p{
  color: #7d7d7d;
  font-size: 16px;
  line-height: 28px;
  text-align:left;
  font-weight: 700;
  margin-bottom: 25px;

}

.university-bottom{
  display: flex;
  justify-content: space-between;
}

.university-bottom-left{
  font-size: 17px;
  font-weight: 700;
  align-items: baseline;
}

.university-bottom-left img{
  padding-left: 5px;
  width: 18px;
  height: 18px;
}
.university-bottom a{
  text-decoration: none;
  color: #717CFF;
}

/* countries section */
.countries{
  background-color: #fafafa;
  justify-content: center;
}
.countries-inner{
  padding: 80px 0px 140px;
}

.countries-desc{
  width: 949px;
  margin: auto;
  justify-content: center;
  text-align: center;
}
.countries h2{
  font-size: 37px;
  line-height: 54px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.countries p{
  color: #7d7d7d;
  font-size: 16px;
  line-height: 38px;
  font-weight: 400;
  margin-bottom: 75px;
}

.card-countries {
  display: flex;
  justify-content: space-around;


}
.card-country{
  margin-left: 45px;
}
.card-country, .card-country-desc{
  width: 348px;
}
.card-country-desc{
  text-align: left;
}
.card-country-desc p{
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
}


/* testesmonials */
.testesmonials{
  background-color: #fff;
  color: #7d7d7d;
  font-size: 18px;
}

.testesmonials-inner{
  padding: 115px 0px 100px;

}

.testesmonials-desc{
  text-align: center;

}
.testesmonials-desc h2{
    margin-bottom: 25px;
    color: #000;

}
.testesmonials-desc p{
  margin-bottom: 130px;
}

.testesmonials-cards{
  display: flex;
}

.testesmonials-card{
  width: 500px;
}
.testesmonials-card-box-top {
  display: flex;
}

.testesmonials-card-box-top img{
  margin-right: 20px;
}
.testesmonials-card-box-top h3{
  color: black;
  line-height: 25px;
  font-size: 22px;
}
.testesmonials-card p{
  width: 435px;
}
.test-card-text{

  line-height: 30px;
}

.testesmonials-card-box{
  padding: 35px;
}

.testesmonials-card-box-top{
  margin-bottom: 30px;
}

/* footer */

footer{
  background-color: #717CFF;

}
.footer-inner{
    display: flex;
    color: #fff;
    padding: 64px 0px 45px;


}
.footer-info p{
  margin:25px 0px 60px;

}
.footer-right{
  display: flex;
  margin-left: 120px;

}

.footer-inner ul{
  list-style: none;
  margin-left:110px ;

}
.footer-right li{
  padding: 15px;
}
.footer ul a{
  text-decoration: none;
}
.footer-social-networks{
  display: flex;
  align-items:flex-end;
  justify-content: center;
  margin-left: 150px;
}
.footer-social-networks a{
  display: inline-block;

}

.footer-info{
  font-size: 14px;
  font-weight: 400;

}

.footer-right a{
  text-decoration: none;
  color:#fff;
  font-size: 14px;
}
